/* Imports */
@import url("classes.css");

/* Variables */
:root {
    --main-font: sans-serif;
    --background-color: white;
    --header-color: rgba(0,0,0,0.1);
    --header-padding: 1rem;
}

/* Global styles */
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

body {
    margin: 0;
    font-family: var(--main-font);
    background-color: var(--background-color);
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--header-padding);
    background-color: var(--header-color);
    backdrop-filter: blur(5px);
    position: sticky;
    top: 0;
}

a {
    text-decoration: inherit;
    color: inherit;
}