*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000;
}

html{
    scroll-behavior: smooth;
    scroll-margin: 90px;
}

body{
  height: 100%;
}

.flex-container{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    align-content: center;
    align-items:center;
    margin: 0;
}

header{
    position: sticky;
    top: 0;
    z-index: 100;
    min-height: 90px;
    height: 90px;
    background: #000000;
    border-bottom: 2px solid #8e41e6;
}

img{
  max-height: 89px;
  height: 100%;
}

a{
    text-decoration: none;
}

nav {
    padding: 25px 0px;
    margin-right: 50px;
}

nav a {
    border-radius: 50px;
    font-size: 17px;
    margin: 5px;
}

.button-85:hover{
    padding: 0.7em 2.1em;
}

/* CSS */
.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.caption {
  position: absolute;
  left: 0;
  top: 35%;
  width: 100%;
  font-size: 24px;
  text-align: center;
  color: #ffffff;
  background-color: unset;
}

.caption #home {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

.Content-1{
  display: flex;
  height:500px;
  background-color:rgb(0, 0, 0);
}

.pimg1{
    background-image: url(img/Blast-Galaxy.jpg);
    height: 100vh;
    width: 100%;
}

.pimg2{
  background-image: url(img/88f91632c9cefae92d2d6a5d1bbac0226185d5f64a640181745732d5032eca3a-rimg-w1200-h800-gmir.jpg);
  height: 100vh;
  width: 100%;
}

.pimg1{
  background-image: url(img/Blast-Galaxy.jpg);
  height: 100vh;
  width: 100%;
}

.pimg1, .pimg2{
  position: relative;
  opacity: 0.75;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}





















































footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}